<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan base-package="base" />
                           
	<bean id="Server" class="org.mortbay.jetty.Server" 
		init-method="start"
		destroy-method="stop">
		<property name="connectors">
			<list>
				<!--<bean id="Connector" class="org.mortbay.jetty.nio.SelectChannelConnector">
					<property name="port" value="8080" />
					<property name="maxIdleTime" value="30000" />
				</bean>-->
				<bean id="Connector"
                      class="org.mortbay.jetty.nio.SelectChannelConnector"
                      p:port="8181"
                      p:maxIdleTime="30000"
                      p:acceptors="10"
                      p:confidentialPort="8443" />
			</list>
		</property>
		<property name="handler">
			<bean id="handlers" class="org.mortbay.jetty.handler.HandlerCollection">
				<property name="handlers">
					<list>
						<bean id="contexts" class="org.mortbay.jetty.handler.ContextHandlerCollection">
							<property name="handlers">
								<list>
									<bean factory-bean="webAppContextFactory" factory-method="createWebAppContext"></bean>
									<!--  bean class="org.mortbay.jetty.webapp.WebAppContext">
										<property name="contextPath" value="/ITCVertebral" />
										<property name="war" ref="webAppDir"/>
									</bean -->
								</list>
							</property>
						</bean>
					</list>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- Obtem diretorio absoluto da Aplicacao Web -->
	<bean id="webAppDir" factory-bean="webAppContextFactory" factory-method="getWebAppDir" />
	
</beans>